.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--heder-footer);
}
.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-list__nav {
  color: var(--primary-bg-color);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-list__nav:hover,
.footer-list__nav:focus {
  color: var(--accent-color);
}

.footer-list {
  margin-top: 20px;
}

.footer-nav {
  font-style: normal;
  width: 231px;
}

.footer-list__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-list__link {
  color: var(--contact);
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-list__link:hover,
.footer-list__link:focus {
  color: var(--accent-color);
}

.footer .list {
  line-height: 1.7;
}
